* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

.results-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}